@{
    Layout = null;
    Response.StatusCode = 404;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tính Phí Công Chứng - Văn Phòng Công Chứng Nguyễn Huệ</title>
    <meta name="robots" content="nofollow,noindex" />
    <link rel="shortcut icon" href="/assets/images/favicon.ico" type="image/x-icon" />
    <link href="/assets/fonts/font.css" rel="stylesheet" />
    <link href="/assets/css/main.css" rel="stylesheet" />
    <link href="/assets/libs/bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="/assets/fonts/icons-fonts/awesome-icons.css" rel="stylesheet" />
    <link href="/assets/libs/select2/select2.min.css" rel="stylesheet" />
</head>
<body>
    <header class="header">
        <div class="main-header">
            <span class="btn-pushbar-3" data-pushbar-target="left"><i class="fa fa-bars"></i></span>
            <a href="https://congchungnguyenhue.com/" class="header-logo"><img src="/assets/images/logo.svg" /></a>
            <div class="header-right">
                <div class="item-right">
                    <i class="fa fa-phone fa-icon"></i>
                    <div class="ptext">
                        <div><strong>Holine: 0966227979</strong></div>
                        <div>Email: ccnguyenhue165@gmail.com</div>
                    </div>
                </div>
                <div class="item-right">
                    <div class="ptext">
                        <i class="fa fa-map-marker fa-icon"></i>
                        <div><strong>Địa chỉ:</strong> 165 phố Giảng Võ, phường Cát Linh, quận Đống Đa,  TP Hà Nội</div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <nav class="nav_header sticky_nav">
        <ul class="nav-bar">
            <li class="nav-item"><a href="/"><i class="fa fa-home"></i></a></li>
            <li class="nav-item"><a href="https://congchungnguyenhue.com/thu-tuc-cap-so-do.html">Dịch vụ sang tên sổ đỏ</a></li>
            <li class="nav-item"><a href="https://congchungnguyenhue.com/cong-chung/cong-chung-hop-dong-mua-ban-chuyen-nhuong-nha-dat-187-1044.html">Hợp đồng mua bán</a></li>
            <li class="nav-item"><a href="https://congchungnguyenhue.com/tin-tuc/cong-chung-tai-nha-mien-phi-189-1091.html">Công chứng Miễn Phí tại nhà</a></li>
            <li class="nav-item"><a href="https://congchungnguyenhue.com/tin-tuc/thu-moi-hop-tac-189-1158.html">Tìm đối tác</a></li>
            <li class="nav-item"><a href="/huong-dan-su-dung-tinh-phi-cong-chung.html">Hướng dẫn sử dụng tính phí</a></li>
            <li class="nav-item"><a href="https://congchungnguyenhue.com/lien-he.html">Liên hệ</a></li>
        </ul>
    </nav>
    <main class="main">
        <div class="main-content">
            <section class="section section-shadow">
                <div class="section-content">
                    <div class="box-body" style="text-align:center;">
                        <p style="margin-top: 10px; font-weight: bold;"> Không tìm thấy trang, hoặc URL không tồn tại trên hệ thống</p>
                        <p style="margin: 30px;"><a href="/" style="background: #3c4abc; color: #fff; padding: 10px 20px; border-radius: 3px; font-weight: bold;">Trang chủ</a></p>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <footer class="footer">
        <div class="main-footer">
            <div class="footer-col1">
                <a class="maps" href="https://congchungnguyenhue.com/lien-he.html"><img src="/assets/images/google-maps.jpg" alt="google map" /></a>
                <div class="section-content">
                    <p>
                        <a href="https://g.page/CongChungNguyenHue?share" class="btn-primary" style="display: block;background: cadetblue;margin: 5px 0;height: 36px;line-height: 36px;text-align: center;text-transform: uppercase;color: #fff !important;
font-size: 16px;">Xem đường đi</a>
                    </p>
                    <p>
                        <a href="https://www.congchungnguyenhue.com/phi-cong-chung.html" class="btn-primary" style="display: block;background: tomato;margin: 5px 0;height: 36px;line-height: 36px;text-align: center;text-transform: uppercase;color: #fff !important;
font-size: 16px;">Phí công chứng</a>
                    </p>
                </div>
            </div>

            <div class="footer-col2">
                <div class="footer-title">Văn phòng Công Chứng Nguyễn Huệ</div>
                <div class="adress">
                    <p>Địa chỉ: 165 phố Giảng Võ, phường Cát Linh, quận Đống Đa, TP Hà Nội. </p>
                    <p>Hotline: 0966227979 - 0935669669</p>
                    <p>Email: ccnguyenhue165@gmail.com </p>
                </div>
                <div itemscope="" itemtype="http://schema.org/Event">
                    <span itemprop="startDate" content="2021"></span>
                    <meta itemprop="endDate" content="2025" />
                    <span itemprop="description" content="Văn phòng Công chứng Nguyễn Huệ"></span>
                    <span itemprop="image" content="https://congchungnguyenhue.com/Uploaded/Others/2020/04/25/logo_2504200917.svg"></span>
                    <a itemprop="url" href="https://congchungnguyenhue.com/" title="Văn phòng Công chứng Nguyễn Huệ">
                        <span itemprop="name">✔️⭐ Miễn phí dịch vụ Công chứng tại nhà riêng, Phục vụ 24/7</span>
                    </a>
                    <span itemprop="location" itemscope="" itemtype="http://schema.org/Place">
                        <meta itemprop="name" content="📞Miễn phí dịch vụ Công chứng tại nhà riêng, Phục vụ 24/7" />
                        <meta itemprop="url" content="https://congchungnguyenhue.com/" />
                        <span itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
                            <meta itemprop="streetAddress" content="Số 165 phố Giảng Võ, phường Cát Linh, quận Đống Đa" />
                            <meta itemprop="addressLocality" content="Hà Nội" />
                            <meta itemprop="addressRegion" content="Việt Nam" />
                        </span>
                    </span>
                    <span itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
                        <meta itemprop="price" content="1" />
                        <meta itemprop="priceCurrency" content="VND" />
                        <meta itemprop="url" content="https://congchungnguyenhue.com/" />
                        <meta itemprop="availability" content="https://schema.org/InStock" />
                        <meta itemprop="validFrom" content="2025-06-04T08:00+00:00" />
                    </span>
                    <meta itemprop="eventAttendanceMode" content="https://schema.org/OfflineEventAttendanceMode" />
                    <meta itemprop="eventStatus" content="https://schema.org/EventScheduled" />
                    <span itemprop="organizer" itemscope="" itemtype="http://schema.org/Organization">
                        <meta itemprop="name" content="Văn phòng công chứng và dịch thuật Uy tín nhất tại Hà Nội" />
                        <meta itemprop="url" content="https://congchungnguyenhue.com/" />
                        <meta itemprop="sameAs" content="https://congchungnguyenhue.com/" />
                    </span>
                    <span itemprop="performer" itemscope="" itemtype="http://schema.org/PerformingGroup">
                        <meta itemprop="name" content="Văn phòng Công Chứng Uy Tín tại Hà Nội" />
                    </span>
                </div>

                <div itemscope="" itemtype="http://schema.org/Event">
                    <span itemprop="startDate" content="2021"></span>
                    <meta itemprop="endDate" content="2025" />
                    <span itemprop="description" content="Loại văn bản công chứng - Dịch vụ công chứng nguyễn Huệ">  </span>
                    <span itemprop="image" content="https://congchungnguyenhue.com/Uploaded/Others/2020/04/25/logo_2504200917.svg"></span>
                    <a itemprop="url" href="https://congchungnguyenhue.com/cong-chung.html" title="Loại văn bản công chứng - Dịch vụ công chứng nguyễn Huệ">
                        <span itemprop="name">✔️⭐ Công chứng Mua bán Nhà đất, Thừa kế, Di chúc, Ủy quyền, Tặng cho, Xác nhận tài sản riêng</span>
                    </a>
                    <span itemprop="location" itemscope="" itemtype="http://schema.org/Place">
                        <meta itemprop="name" content="📞Công chứng Mua bán Nhà đất, Thừa kế, Di chúc, Ủy quyền, Tặng cho, Xác nhận tài sản riêng" />
                        <meta itemprop="url" content="https://congchungnguyenhue.com/" />
                        <span itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
                            <meta itemprop="streetAddress" content="Số 165 phố Giảng Võ, phường Cát Linh, quận Đống Đa" />
                            <meta itemprop="addressLocality" content="Hà Nội" />
                            <meta itemprop="addressRegion" content="Việt Nam" />
                        </span>
                    </span>
                    <span itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
                        <meta itemprop="price" content="1" />
                        <meta itemprop="priceCurrency" content="VND" />
                        <meta itemprop="url" content="https://congchungnguyenhue.com/" />
                        <meta itemprop="availability" content="https://schema.org/InStock" />
                        <meta itemprop="validFrom" content="2025-06-04T08:00+00:00" />
                    </span>
                    <meta itemprop="eventAttendanceMode" content="https://schema.org/OfflineEventAttendanceMode" />
                    <meta itemprop="eventStatus" content="https://schema.org/EventScheduled" />
                    <span itemprop="organizer" itemscope="" itemtype="http://schema.org/Organization">
                        <meta itemprop="name" content="Văn phòng công chứng và dịch thuật Uy tín nhất tại Hà Nội" />
                        <meta itemprop="url" content="https://congchungnguyenhue.com/" />
                        <meta itemprop="sameAs" content="https://congchungnguyenhue.com/" />
                    </span>
                    <span itemprop="performer" itemscope="" itemtype="http://schema.org/PerformingGroup">
                        <meta itemprop="name" content="Văn phòng Công Chứng Uy Tín tại Hà Nội" />
                    </span>
                </div>

                <div itemscope="" itemtype="http://schema.org/Event">
                    <span itemprop="startDate" content="2021"></span>
                    <meta itemprop="endDate" content="2025" />
                    <span itemprop="description" content="Dịch vụ dịch thuật công chứng, chứng thực bản dịch các loại văn bản"></span>
                    <span itemprop="image" content="https://congchungnguyenhue.com/Uploaded/Others/2020/04/25/logo_2504200917.svg">  </span>
                    <a itemprop="url" href="https://congchungnguyenhue.com/thu-tuc-cap-so-do.html" title="Dịch vụ dịch thuật công chứng, chứng thực bản dịch các loại văn bản">
                        <span itemprop="name">✔️⭐ Sang tên Sổ đỏ Uy tín, Chuyên nghiệp, Trả kết quả Đúng hẹn</span>
                    </a>
                    <span itemprop="location" itemscope="" itemtype="http://schema.org/Place">
                        <meta itemprop="name" content="📞Sang tên Sổ đỏ Uy tín, Chuyên nghiệp, Trả kết quả Đúng hẹn" />
                        <meta itemprop="url" content="https://congchungnguyenhue.com/" />
                        <span itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
                            <meta itemprop="streetAddress" content="Số 165 phố Giảng Võ, phường Cát Linh, quận Đống Đa" />
                            <meta itemprop="addressLocality" content="Hà Nội" />
                            <meta itemprop="addressRegion" content="Việt Nam" />
                        </span>
                    </span>
                    <span itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
                        <meta itemprop="price" content="1" />
                        <meta itemprop="priceCurrency" content="VND" />
                        <meta itemprop="url" content="https://congchungnguyenhue.com/" />
                        <meta itemprop="availability" content="https://schema.org/InStock" />
                        <meta itemprop="validFrom" content="2025-06-04T08:00+00:00" />
                    </span>
                    <meta itemprop="eventAttendanceMode" content="https://schema.org/OfflineEventAttendanceMode" />
                    <meta itemprop="eventStatus" content="https://schema.org/EventScheduled" />
                    <span itemprop="organizer" itemscope="" itemtype="http://schema.org/Organization">
                        <meta itemprop="name" content="Văn phòng công chứng và dịch thuật Uy tín nhất tại Hà Nội" />
                        <meta itemprop="url" content="https://congchungnguyenhue.com/" />
                        <meta itemprop="sameAs" content="https://congchungnguyenhue.com/" />
                    </span>
                    <span itemprop="performer" itemscope="" itemtype="http://schema.org/PerformingGroup">
                        <meta itemprop="name" content="Văn phòng Công Chứng Uy Tín tại Hà Nội" />
                    </span>
                </div>

                <div class="post-social">
                    <a href="https://www.facebook.com/V%C4%83n-ph%C3%B2ng-c%C3%B4ng-ch%E1%BB%A9ng-Nguy%E1%BB%85n-Hu%E1%BB%87-109138344122175/" target="_blank" rel="nofollow"><span class="icon-social2 facebook"><i class="fa fa-facebook"></i></span></a>
                    <a href="https://twitter.com/" target="_blank" rel="nofollow"><span class="icon-social2 twitter"><i class="fa fa-twitter"></i></span></a>
                    <a href="https://www.linkedin.com/" target="_blank" rel="nofollow"><span class="icon-social2 linkedin"><i class="fa fa-linkedin"></i></span></a>
                    <a href="https://www.youtube.com" target="_blank" rel="nofollow"><span class="icon-social2 youtube"><i class="fa fa-youtube"></i></span></a>
                </div>
            </div>
            <div class="footer-col3">
                <div class="footer-title">Danh mục</div>
                <div class="footer-content">
                    <ul class="nav-c3">
                        <li><a href="https://congchungnguyenhue.com/" title="Trang chủ">Trang chủ</a></li>
                        <li><a href="https://congchungnguyenhue.com/tin-tuc.html" title="Tin tức">Tin tức</a></li>
                        <li><a href="https://congchungnguyenhue.com/gioi-thieu.html" title="Giới thiệu">Giới thiệu</a></li>
                        <li><a href="https://congchungnguyenhue.com/lien-he.html" title="Liên hệ">Liên hệ</a></li>
                    </ul>
                    <ul class="nav-c3">
                        <li><a href="https://congchungnguyenhue.com/thu-tuc-cong-chung.html" title="Thủ tục công chứng ">Thủ tục công chứng </a></li>
                        <li><a href="https://congchungnguyenhue.com/cong-chung.html" title="Danh mục công chứng">Danh mục công chứng</a></li>
                        <li><a href="https://congchungnguyenhue.com/phi-cong-chung.html" title="Phí công chứng">Phí công chứng</a></li>
                        <li><a href="https://congchungnguyenhue.com/thu-tuc-cap-so-do.html" title="Thủ tục cấp sổ đổ">Thủ tục cấp sổ đổ</a></li>
                    </ul>
                    <ul class="nav-c3">
                        <li><a href="https://congchungnguyenhue.com/nhan-ho-so-qua-mang.html" title="Nhận hồ sơ qua mạng">Nhận hồ sơ qua mạng</a></li>
                        <li><a href="https://congchungnguyenhue.com/van-ban-phap-luat.html" title="Văn bản pháp luật">Văn bản pháp luật</a></li>
                        <li><a href="https://congchungnguyenhue.com/cau-hoi-thuong-gap.html" title="Câu hỏi thường gặp">Câu hỏi thường gặp</a></li>
                        <li><a href="https://congchungnguyenhue.com/mau-hop-dong.html" title="Mẫu hợp đồng">Mẫu hợp đồng</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </footer>
    <aside data-pushbar-id="left" class="pushbar from_left">
        <span data-pushbar-close class="btn-pushbar-close"><i class="fa fa-arrow-left icon-bacck"></i></span>
        <nav>
            <a class="menu-list" href="https://congchungnguyenhue.com">Trang chủ</a>
            <a class="menu-list" href="https://congchungnguyenhue.com/thu-tuc-cap-so-do.html">Dịch vụ sang tên sổ đỏ</a>
            <a class="menu-list" href="https://congchungnguyenhue.com/cong-chung/cong-chung-hop-dong-mua-ban-chuyen-nhuong-nha-dat-187-1044.html">Hợp đồng mua bán</a>
            <a class="menu-list" href="https://congchungnguyenhue.com/tin-tuc/cong-chung-tai-nha-mien-phi-189-1091.html">Công chứng Miễn Phí tại nhà</a>
            <a class="menu-list" href="https://congchungnguyenhue.com/tin-tuc/thu-moi-hop-tac-189-1158.html">Tìm đối tác</a>
            <a class="menu-list" href="/huong-dan-su-dung-tinh-phi-cong-chung.html">Hướng dẫn sử dụng tính phí</a>
            <a class="menu-list" href="https://congchungnguyenhue.com/thu-tuc-cong-chung.html" title="Thủ tục công chứng">Thủ tục công chứng</a>
            <a class="menu-list" href="https://congchungnguyenhue.com/tin-tuc.html" title="Tin tức">Tin tức</a>
            <a class="menu-list" href="https://congchungnguyenhue.com/gioi-thieu.html" title="Giới thiệu">Giới thiệu</a>
            <a class="menu-list" href="https://congchungnguyenhue.com/lien-he.html">Liên hệ</a>
        </nav>
    </aside>
    <a href="tel:0966227979" rel="nofollow" class="icon_footer callhotline" title="Hotline">
        <img src="/assets/images/call.png" alt="call" /><span class="fa-hotline">0966227979</span>
    </a>
    <a href="mailto:ccnguyenhue165@gmail.com?subject=[Gửi Tài Liệu]&amp;body=Văn phòng Công Chứng Nguyễn Huệ 165 phố Giảng Võ, phường Cát Linh, quận Đống Đa,  TP Hà Nội hân hạnh phục vụ quý khách. Hotline: 0966227979" target="_blank" rel="nofollow" class="icon_footer ic-email" title="Gửi email"><img src="/assets/images/email.png" alt="Gửi email" /></a>
    <a href="http://zalo.me/0966227979" target="_blank" rel="nofollow" class="icon_footer ic-zalo" title="Hỗ trợ Zalo"><img src="/assets/images/zalo.png" alt="Hỗ trợ Zalo" /></a>
    <script src="/assets/libs/jquery/jquery.min.js" defer></script>
    <script src="/assets/js/app.js" defer></script>
</body>
</html>