@{
    Layout = null;
    Response.StatusCode = (int)HttpStatusCode.NotFound;
}
<html lang="vi">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Page 404</title>
    <link href="/areas/admin/assets/css/tinhphicongchung.min.css" rel="stylesheet" />
    <link href="/areas/admin/assets/css/app.min.css" rel="stylesheet" />
</head>
<body class="border-top-wide border-primary d-flex flex-column">
    <div class="page page-center">
        <div class="container-tight py-4">
            <div class="empty">
                <div class="empty-header">404</div>
                <p class="empty-title">Không tìm thấy nội dung bạn yêu cầu, hoặc yêu cầu chưa được xử lý.</p>
                <p class="empty-subtitle text-muted">
                    Vui lòng liên hệ với quản trị hệ thống để biết thêm chi tiết.
                </p>
                <div class="empty-action">
                    <a href="@Url.Action("Index", "Dashboard", new { Area = "Admin" })" title="Dashboard" class="btn btn-primary">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><line x1="5" y1="12" x2="19" y2="12" /><line x1="5" y1="12" x2="11" y2="18" /><line x1="5" y1="12" x2="11" y2="6" /></svg>
                        Dashboard
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>