<footer class="footer footer-transparent d-print-none">
    <div class="container-xl">
        <div class="row text-center align-items-center flex-row-reverse">
            <div class="col-12 col-lg-auto mt-3 mt-lg-0">
                <ul class="list-inline list-inline-dots mb-0">
                    <li class="list-inline-item">
                        Copyright &copy; 2022
                        <a href="https://tinhphicongchung.com/" class="link-secondary">tinhphicongchung.com</a>.
                        All rights reserved.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<div id="_editForm" class="popup-bg target-hidden">
    <div class="popup-wrapper">
        <div class="popup-body">
            <span class="close-popup" data-toggle-target="#_editForm" title="Đóng">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-x" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <line x1="18" y1="6" x2="6" y2="18"></line>
                    <line x1="6" y1="6" x2="18" y2="18"></line>
                </svg>
            </span>
            <div class="popup-content">
                <div class="entry-popup">
                    <div class="row row-cards">
                        <div class="col-12">
                            <div class="card placeholder-glow">
                                <div class="ratio ratio-21x9 card-img-top placeholder"></div>
                                <div class="card-body">
                                    <div class="placeholder col-9 mb-3"></div>
                                    <div class="placeholder placeholder-xs col-10"></div>
                                    <div class="placeholder placeholder-xs col-11"></div>
                                    <div class="mt-3">
                                        <span class="btn btn-primary disabled placeholder col-12" aria-hidden="true"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="_selectFileForm" class="popup-bg target-hidden">
    <div class="popup-wrapper">
        <div class="popup-body">
            <span class="close-popup" data-toggle-target="#_selectFileForm" title="Đóng">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-x" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <line x1="18" y1="6" x2="6" y2="18"></line>
                    <line x1="6" y1="6" x2="18" y2="18"></line>
                </svg>
            </span>
            <div class="popup-content">
                <div class="entry-popup">
                    <div class="row row-cards">
                        <div class="col-12">
                            <div class="card placeholder-glow">
                                <div class="ratio ratio-21x9 card-img-top placeholder"></div>
                                <div class="card-body">
                                    <div class="placeholder col-9 mb-3"></div>
                                    <div class="placeholder placeholder-xs col-10"></div>
                                    <div class="placeholder placeholder-xs col-11"></div>
                                    <div class="mt-3">
                                        <span class="btn btn-primary disabled placeholder col-12" aria-hidden="true"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="_attachFilesForm" class="popup-bg target-hidden">
    <div class="popup-wrapper">
        <div class="popup-body">
            <span class="close-popup" data-toggle-target="#_attachFilesForm" title="Đóng">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-x" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <line x1="18" y1="6" x2="6" y2="18"></line>
                    <line x1="6" y1="6" x2="18" y2="18"></line>
                </svg>
            </span>
            <div class="popup-content">
                <div class="entry-popup">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">Upload files:</h3>
                                </div>
                                <div class="wrapper_tabcontent popup-height card-body">
                                    <!--begin::Form-->
                                        <!--begin::Input group-->
                                        <div class="form-group row">
                                            <!--begin::Col-->
                                            <div class="col-lg-12">
                                                <!--begin::Dropzone-->
                                                <div class="dropzone dropzone-queue mb-2" id="kt_dropzonejs_example_3">
                                                    <!--begin::Controls-->
                                                    <div class="dropzone-panel mb-lg-0 mb-2">
                                                        <a class="dropzone-select btn btn-sm btn-primary me-2">Attach files</a>
                                                        <a class="dropzone-remove-all btn btn-sm btn-light-primary">Remove All</a>
                                                    </div>
                                                    <!--end::Controls-->
                                                    <!--begin::Items-->
                                                    <div class="dropzone-items wm-200px">
                                                        <div class="dropzone-item" style="display:none">
                                                            <!--begin::File-->
                                                            <div class="dropzone-file">
                                                                <div class="dropzone-filename" title="some_image_file_name.jpg">
                                                                    <span data-dz-name>some_image_file_name.jpg</span>
                                                                    <strong>(<span data-dz-size>340kb</span>)</strong>
                                                                </div>

                                                                <div class="dropzone-error" data-dz-errormessage></div>
                                                            </div>
                                                            <!--end::File-->
                                                            <!--begin::Progress-->
                                                            <div class="dropzone-progress">
                                                                <div class="progress">
                                                                    <div class="progress-bar bg-primary"
                                                                         role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0" data-dz-uploadprogress>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!--end::Progress-->
                                                            <!--begin::Toolbar-->
                                                            <div class="dropzone-toolbar">
                                                                <span class="dropzone-delete" data-dz-remove><i class="bi bi-x fs-1"></i></span>
                                                            </div>
                                                            <!--end::Toolbar-->
                                                        </div>
                                                    </div>
                                                    <!--end::Items-->
                                                </div>
                                                <!--end::Dropzone-->
                                                <!--begin::Hint-->
                                                <span class="form-text text-muted">Max file size is 1MB and max number of files is 5.</span>
                                                <!--end::Hint-->
                                            </div>
                                            <!--end::Col-->
                                        </div>
                                        <!--end::Input group-->
                            
                                    <!--end::Form-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<a href="#" rel="nofollow" title="Lên đầu trang" class="backtotop">
    <svg xmlns="http://www.w3.org/2000/svg" class="icon-tabler icon-tabler-chevron-up" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <polyline points="6 15 12 9 18 15"></polyline>
    </svg>
</a>